#container{
    width: 720px;
    margin:0 auto;
}

#image {
    display: block;
    margin:0 auto;
    height: 50px;
    width: 170px;
    
}


/*
h4 {
    background-color: rgb(227, 220, 190);
    border-style: inset;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    border-top-color: rgb(205, 157, 99);

}
*/

#yellow {
    width: 100%;
    height: 2em;
    color: #107777;
    line-height: 2em;
    background-color: #fdfbf1;
    text-align: center;
    border-top: 2px solid #ffd877;
    
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(9, 9, 9);
}
 p {
     text-align: center;
     
 }

 #foc {
    display: block;
    margin:0 auto;
    border-radius: 10px 10px 10px 10px;

 }

 figcaption {
     text-align: center;
     font-size: small;
     color: gray;
 }

 #hist{
     
     border-left: 2px solid #ffd877;

 }
 #ing {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
     
 }

 hr {
    color: rgb(150, 190, 223);
    background: #00f; 
    border: 10; 
    height: 1px;
 }
 .list{
     text-align: left;
     font-weight: bold;
 }
 #caracter {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
 }

 #dt{
     text-align: bold;
 }

 